<div class="relative w-screen h-screen overflow-hidden">
  <app-toast-message></app-toast-message>
  <div class="w-full flex justify-center items-center">
    <span
      class="pt-4 text-transparent text-center text-5xl font-bold bg-clip-text moving-gradient"
    >
      GRAMMAR CHECKER
    </span>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col md:flex-row gap-4 p-4">
    <!-- USER INPUT -->

    <textarea
      (keyup)="inputtedText($event)"
      class="w-full h-[70vh] backdrop-blur-sm bg-[rgba(255,255,255,0.5)] text-blue-900 focus:outline-none pl-4 pr-4 py-10 border-2 border-blue-900 rounded-xl shadow-[8px_8px_15px_-7px_rgba(150,180,255,0.6)] hidden-scrollbar resize-none"
      placeholder="Start by writing or pasting (Ctrl + V) text."
    ></textarea>

    <!-- CHECK GRAMMAR BUTTON -->
    <div class="flex justify-center">
      <button
        *ngIf="!showMobileResult"
        (click)="checkGrammar(textToCheck)"
        [disabled]="isLoading || !textToCheck"
        class="fixed bottom-4 md:static w-20 h-20 flex items-center justify-center border-2 rounded-full scale-90 transition-all duration-200"
        [class]="
          isLoading || !textToCheck
            ? 'bg-gray-400 border-black'
            : 'bg-gray-200 border-blue-900 shadow-[2px_2px_10px_-2px_rgba(150,180,255,0.6)] hover:shadow-[2px_2px_10px_0px_rgba(150,180,255,0.6)] hover:scale-100'
        "
        [ngClass]="{
          'z-10': showMobileResult
        }"
      >
        <mat-icon>search</mat-icon>
      </button>

      <!-- CLOSE BUTTON -->
      <button
        (click)="hideShowMobileResult()"
        *ngIf="showMobileResult"
        [disabled]="isLoading"
        class="fixed bottom-4 w-20 h-20 flex items-center justify-center md:hidden border-2 rounded-full scale-90 transition-all duration-200"
        [class]="
          isLoading
            ? 'bg-gray-400 border-black'
            : 'bg-gray-200 border-blue-900 shadow-[2px_2px_10px_-2px_rgba(150,180,255,0.6)] hover:shadow-[2px_2px_10px_0px_rgba(150,180,255,0.6)] hover:scale-100'
        "
        [ngClass]="{
          'z-10': showMobileResult
        }"
      >
        <mat-icon class="md:hidden">close</mat-icon>
      </button>

      <!-- REOPEN MOBILE VIEW -->
      <button
        *ngIf="!showMobileResult"
        (click)="hideShowMobileResult()"
        class="fixed bottom-4 right-4 w-20 h-20 md:hidden flex items-center justify-center border-2 rounded-full scale-90 transition-all duration-200"
        [class]="
          'bg-gray-200 border-blue-900 shadow-[2px_2px_10px_-2px_rgba(150,180,255,0.6)] hover:shadow-[2px_2px_10px_0px_rgba(150,180,255,0.6)] hover:scale-100'
        "
        [ngClass]="{
          'z-10': showMobileResult
        }"
      >
        <mat-icon>layers</mat-icon>
      </button>
    </div>

    <!-- RESULT PANEL -->
    <div
      class="w-full h-full absolute top-0 left-0 md:relative transition-transform duration-500 ease-in-out"
      [class]="
        showMobileResult ? 'translate-y-4 md:translate-y-0' : 'md:translate-y-0'
      "
      [ngClass]="{
        'translate-y-[200%] md:translate-y-0': !showMobileResult
      }"
    >
      <div class="relative w-full h-full flex justify-center">
        <div
          class="w-[93%] h-[80%] md:w-full md:h-[70vh] bg-gray-200 text-white focus:outline-none pl-4 pr-4 py-12 border-2 border-blue-900 rounded-xl shadow-[8px_8px_15px_-7px_rgba(150,180,255,0.6)] overflow-y-auto hidden-scrollbar"
        >
          <span *ngFor="let item of returned; let i = index">
            <span class="original-sentence">
              <ng-container *ngFor="let word of item.words">
                <span class="highlight-problem">
                  <div class="corrected-problem">
                    <span class="text-[10px]">{{
                      word.problem_label + ":"
                    }}</span>
                    <span (click)="correctWrongWord(word, item.id)">{{
                      word.corrected ? word.corrected : ""
                    }}</span>
                  </div>
                  <span>{{ word.corrected ? word.original : "" }}</span>
                </span>

                <span>{{ word.corrected ? "" : word.original }} {{ "" }}</span>
              </ng-container>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Options -->
  <button
    (click)="onClick()"
    #button1
    class="absolute hidden px-4 py-2 bg-[#1D2E40] hover:bg-[#344C5D] rounded shadow-[2px_2px_10px_-2px_rgba(0,0,0,0.5)] transition-colors duration-200"
    *ngIf="!isButton1Clicked && !isButton2Clicked"
  >
    Grammar
  </button>
  <button
    (click)="onClick()"
    #button2
    class="absolute hidden px-4 py-2 bg-[#1D2E40] hover:bg-[#344C5D] rounded shadow-[2px_2px_10px_-2px_rgba(0,0,0,0.5)] transition-colors duration-200"
    *ngIf="!isButton1Clicked && !isButton2Clicked"
  >
    Paraphrase
  </button>
</div>
