<div class="w-full flex flex-col gap-2">
  <div class="w-full h-6 flex gap-2">
    <div class="shimmer-skeleton flex-[2]"></div>
    <div class="shimmer-skeleton flex-1"></div>
  </div>
  <div class="w-full h-6 flex gap-2">
    <div class="shimmer-skeleton flex-1"></div>
    <div class="shimmer-skeleton flex-[2]"></div>
    <div class="shimmer-skeleton flex-[2]"></div>
  </div>
  <div class="w-full h-6 flex gap-2">
    <div class="shimmer-skeleton flex-[3]"></div>
  </div>
  <div class="w-full h-6 flex gap-2">
    <div class="shimmer-skeleton flex-1"></div>
    <div class="shimmer-skeleton flex-1"></div>
    <div class="shimmer-skeleton flex-[2]"></div>
  </div>
</div>
